<!DOCTYPE html>
<html>
<head>
	<title>Postal Results</title>
</head>
<body>
	<h1>Postage Rate</h1>
	<p>Package/Letter Weight: <%= weight %>oz</p>
	<p>Package/Letter Type: <%= mail %></p> 
	<p>Postage Cost: $<%= calc %></p>
</body>
</html>